<!--
<ul>
  <li *ngFor='let user of usuarios;index as i'>
    <p (click)="selectUser(user.name)">{{user.name}}</p> <button (click)="deleteUser(i)">borrar</button>
  
    <button (click)='updateUser(i)'>Editar</button>
   <input  [(ngModel)]='edit_user.name' placeholder="Modifique el nombre"> 
  </li>
</ul>
<input type="text" placeholder="Escribe un nombre" [(ngModel)]="nuevo_usuario.name">
<input type="text" placeholder="Escribe un Apellido Paterno" [(ngModel)]="nuevo_usuario.app">
<input type="text" placeholder="Escribe un Apellido Materno" [(ngModel)]="nuevo_usuario.apm">
<input type="number" placeholder="Edad" [(ngModel)]="nuevo_usuario.edad">

<button (click)="addUser()">Guardar</button> <br>
<br>

<input type="text" [(ngModel)]="searchtext" placeholder="Buscar">
<button (click)="textSearch()">BUSCAR</button>

 -->
<router-outlet></router-outlet>

